@tailwind base;
@tailwind components;
@tailwind utilities;

/* Sikre at wrapper gir plass til popover */
/* .date-picker-wrapper {
  position: relative;
  overflow: visible;
}


.rdrCalendarWrapper {
  z-index: 100 !important;
}
 */
